@font-face {
  font-family: PlusJakarta;
  src: url('./public/fonts/PlusJakartaSans-VariableFont_wght.ttf');
}
/* Css Reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  font-family: PlusJakarta;
}
/* Color Variables */
:root {
  --primary-bg: #f6f7f9;
  --secondary-bg: #ffffff;
  --primary-text: #1a202c;
  --secondary-text: #90a3bf;
  --tertiary-text: #596780;
  --border-color: #e7eef6;
  --primary-blue: #3563e9;
  --primary-blue-hover: #e4ebff;
  --secondary-blue: #54a6ff;
  --like-red: #ed0000;
  --alert-yellow: #e36e00;
}
body {
  background-color: var(--primary-bg);
  overflow-x: hidden;
}
.primary-shadow {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}
.user-select-none {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
