@font-face {
  font-family: PlusJakarta;
  src: url('./public/fonts/PlusJakartaSans-VariableFont_wght.ttf');
}

/* Css Reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  font-family: PlusJakarta;
  overflow-x: hidden;
}
/* Color Variables */
:root {
  --primary-bg: rgb(246, 247, 249);
  --secondary-bg: rgb(255, 255, 255);
  --primary-text: rgb(26, 32, 44);
  --secondary-text: rgb(144, 163, 191);
  --tertiary-text: rgb(89, 103, 128);
  --border-color: rgb(231, 238, 246);
  --primary-blue: rgb(53, 99, 233);
  --secondary-blue: rgb(84, 166, 255);
}

body {
  background-color: var(--primary-bg);
}

.user-select-none {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
