.ads {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  cursor: pointer;
  gap: 32px;
}

.ad-card:nth-child(1) {
  background: var(--secondary-blue) url('./../../../public/images/adBg1.png')
    no-repeat center/cover;
}
.ad-card:nth-child(2) {
  background: var(--primary-blue) url('./../../../public/images/adBg2.png')
    no-repeat center/cover;
}

.ad-card {
  padding: 24px;
  width: 100%;
  height: 100%;
  max-width: 640px;
  border-radius: 10px;
  transition: all 0.3s linear;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 10px;
}

.ad-card:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 10px;
}

.ad-card img {
  margin-top: 24px;
  width: clamp(50px, 100%, 300px);
}

.ad-content {
  display: flex;
  align-items: center;
}

.ad-description {
  max-width: 35ch;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.ad-description h1 {
  font-weight: 600;
}

.ad-image-container {
  display: flex;
  align-items: end;
  gap: 8px;
  justify-content: space-between;
}

.ad-btn {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: end;
  height: 100%;
  min-width: fit-content;
  padding-bottom: 12px;
  margin-right: -8px;
}

.ad-btn svg {
  -webkit-animation: out 1s ease-out infinite;
  animation: out 1s ease-out infinite;
  width: 28px;
  margin-bottom: -4px;
}

@media (max-width: 590px) {
  .ad-card {
    font-size: 14px;
  }
}

@media (max-width: 800px) {
  .ads {
    padding-top: 0px;
  }
}

@media (max-width: 700px) {
  .ads {
    flex-direction: column;
  }

  .ad-card:nth-child(2) {
    display: none;
  }

  .ad-card:nth-child(1) {
    background: var(--primary-blue) url('./../../../public/images/adBg1.png')
      no-repeat center/cover;
  }
}
