.container {
  padding: 16px 64px;
}

@media (max-width: 750px) {
  .container {
    padding: 16px 48px;
  }
}

@media (max-width: 660px) {
  .container {
    padding: 16px 20px;
  }
}

.section-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-title {
  font-size: 16px;
  font-weight: 500;
  color: var(--secondary-text);
}

.section-view-all {
  color: var(--primary-blue);
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.section-view-all:hover {
  text-decoration: underline;
}
