.container {
  padding: 16px 64px;
}

@media (max-width: 750px) {
  .container {
    padding: 16px 48px;
  }
}

@media (max-width: 660px) {
  .container {
    padding: 16px 20px;
  }
}

.ads {
  margin-top: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  cursor: pointer;
  gap: 32px;
}

@media (max-width: 590px) {
  .ad-card {
    font-size: 14px;
  }

  .ads {
    margin-top: 0;
  }
}

.ad-card:nth-child(1) {
  background: var(--secondary-blue) url('./../../../public/images/adBg1.png')
    no-repeat center/cover;
}
.ad-card:nth-child(2) {
  background: var(--primary-blue) url('./../../../public/images/adBg2.png')
    no-repeat center/cover;
}

.ad-card {
  padding: 24px;
  width: 100%;
  height: 100%;
  max-width: 640px;
  border-radius: 10px;
  transition: all 0.3s linear;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 10px;
}

.ad-card:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 10px;
}

.ad-card img {
  margin-top: 24px;
}

.ad-content {
  display: flex;
  align-items: center;
}

.ad-description {
  max-width: 35ch;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.ad-description h1 {
  font-weight: 600;
}

.ad-image-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ad-btn {
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: end;
  height: 100%;
  text-wrap: nowrap;
}

.ad-btn svg {
  -webkit-animation: out 1s ease-out infinite;
  animation: out 1s ease-out infinite;
  width: 28px;
  margin-bottom: -4px;
}

/* .ad-card:hover .ad-btn svg {
  animation: out 1s ease-in infinite;
} */

/* filter section */

.filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 44px;
  font-size: 10px;
}

.pick-up,
.drop-off {
  flex: 1;
  background: var(--secondary-bg);
  border-radius: 10px;
  padding: 24px 48px;
  box-shadow: rgba(0, 0, 0, 0.025) 0px 5px 10px;
  transition: all 0.3s linear;
}

.pick-up:hover,
.drop-off:hover {
  box-shadow: rgba(0, 0, 0, 0.065) 0px 5px 10px;
}

.filter-reverse {
  padding: 10px;
  cursor: pointer;
  background: var(--primary-blue);
  border-radius: 10px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(53, 99, 233, 0.5) 0px 5px 15px;
  transition: all 0.2s linear;
}

.filter-reverse:hover {
  box-shadow: rgba(53, 99, 233, 0.8) 0px 5px 15px;
}

.filter-title {
  display: flex;
  align-items: center;
  gap: 8px;
}

.filter-circle {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #cee7fe;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter-circle div {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: var(--secondary-blue);
}

.active-circle {
  background: #c2d0f8;
}

.active-circle div {
  background: var(--primary-blue);
}

.filter-title h1 {
  font-size: 1.6em;
  font-weight: 500;
}

.filter-options {
  display: flex;
  align-items: center;
  margin-top: 16px;
  justify-content: space-between;
}

.filter-option-selector {
  flex: 1;
  padding: 0px 12px;
  cursor: pointer;
  border-left: 1px solid var(--border-color);
}

.filter-option-selector:nth-child(1) {
  padding-left: 0;
  border: none;
}

.filter-options h2 {
  font-size: 1.6em;
  font-weight: 600;
}

.filter-options h3 {
  font-size: 1.2em;
  font-weight: 500;
  color: var(--secondary-text);
}

.filter-option-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 1100px) {
  .pick-up,
  .drop-off {
    padding: 12px;
  }
}

@media (max-width: 950px) {
  .filter {
    flex-direction: column;
    gap: 20px;
    font-size: 8px;
    position: relative;
  }

  .filter-reverse {
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
  }
}

@media (max-width: 700px) {
  .ads {
    flex-direction: column;
  }
  .ad-card:nth-child(2) {
    display: none;
  }
}

/* popular cars section */

.section-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-title {
  font-size: 16px;
  font-weight: 500;
  color: var(--secondary-text);
}

.section-view-all {
  color: var(--primary-blue);
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.popular-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 30px;
}

.popular-slider {
  display: none;
}

@media (max-width: 700px) {
  .popular-container {
    display: none;
  }

  .popular-slider {
    display: block;
  }
}
