.gallery-wrapper {
  gap: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 240px;
  background: var(--primary-blue);
  background-image: './../../../public/images/Ad1.png';
  padding: 24px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.025) 0px 5px 10px;
  transition: all 0.15s linear;
}

.gallery-wrapper:hover {
  box-shadow: rgba(0, 0, 0, 0.095) 0px 5px 10px;
}
@media (min-width: 600px) {
  .gallery-wrapper {
    min-width: 300px;
  }
}

.image-container {
  width: 100%;
  max-width: 195px;
  aspect-ratio: 2/1;
}

.image-container img {
  width: 100%;
}

.gallery-wrapper img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.main-img {
  border-radius: 10px;
}

.car-assets {
  height: 100%;
  display: flex;
  gap: 16px;
}

.image-gallery-slide-wrapper {
  border-radius: 10px !important;
  overflow: hidden;
  max-height: 600px;
  aspect-ratio: 16/9;
}

.image-gallery-icon:hover {
  color: var(--primary-blue) !important;
}

.image-gallery-thumbnail {
  border-radius: 10px !important;
  overflow: hidden;
}
