.gallery-wrapper {
  background: lightseagreen;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.gallery-wrapper img {
  max-width: 100%;
  width: fit-content;
  background: red;
}

.main-img {
  background: var(--primary-blue);
  padding: 24px;
  border-radius: 10px;
}

.car-assets {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* background: lightgreen; */
}
