.tool-tip {
  position: relative;
}

.tool-tip-text {
  display: none;
  position: absolute;
  color: var(--primary-blue);
  padding: 4px;
  background: var(--primary-blue-hover);
  transition: all 0.15s linear;
  border: 1px solid var(--primary-blue);
  border-radius: 6px;
  font-size: 0.7rem;
  text-wrap: nowrap;
  animation: opacity-increase 1s;
}

.tool-tip-top {
  top: 50px;
}

.tool-tip:hover .tool-tip-text {
  display: block;
}

.tool-tip-top::after {
  content: "";
  background: transparent;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid var(--primary-blue);
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
}
